backend/.gradle
backend/build/
backend/gradle/wrapper/gradle-wrapper.jar

frontend/dist
frontend/tmp
frontend/out-tsc
frontend/bazel-out
frontend/.editorconfig

# Node
frontend/node_modules
frontend/npm-debug.log
frontend/yarn-error.log
frontend/package-lock.json

### IDEs ###
.idea
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.iws
*.iml
*.ipr
bin/
out/
.c9/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/
*.launch
.settings/
*.sublime-workspace
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db